h1 {
  	text-align: center;
  	font-family:courier new;
	font-size: 50px;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	background-color: powderblue;
}

ul {
  	text-align: center;
  	border-style: inset;
  	border-width: 5px;
  	padding: 5px;
	width: 50%;
  	margin: 5px;
	background-color: rgb(255, 255, 180);
	border-radius: 15px;
	display: block;
	margin: auto;
}
li {
  	text-align: center;
  	text-decoration: none;
	margin: 5px;
	padding: 5px;
	list-style-type: none;
}
a {
  	text-decoration: none;
  	color: black;
}
a:hover {
	color: violet;
}
body {
	font-family: verdana;
	background-color: powderblue;
}
h2 {
 	color:tomato;
	text-decoration: underline;
}
p {
	text-align: center;
	margin: 20px;
}
img {
	display: block;
	margin: auto;
	height: auto;
    	width: 10%;
    	-webkit-border-radius: 50%;
    	border-radius: 50%;
}
